@{
    ViewData["Title"] = "Home Page";
}
<!--Abby Harris, Payton Womack, Cody Nettesheim, Seth Brock 
    Section 001 Group: 1-14
-->
<style>
    .col-6 {
        width: 50%;
        padding: 20px;
        border: 2px solid #007BFF;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
        text-align: center; /* Center text */
    }

    h1, h4 {
        color: #007BFF;
    }
</style>

<div class="container">

    <div class="row">

        <div class="col-6">
            <h1>Urgent</h1>
            <h4>Quadrant 1</h4>
            <ul>
                <li><p>Doing Test</p></li>
                <li><p>Crises</p></li>
                <li><p>Pressing Problems</p></li>
            </ul>
        </div>

        <div class="col-6">
            <h1>Not Urgent</h1>
            <h4>Quadrant 2</h4>
            <ul>
                <li><p>Relationships</p></li>
                <li><p>Planning</p></li>
                <li><p>Recreation</p></li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-6">
            <h4>Quadrant 3</h4>
            <ul>
                <li><p>Interruptions</p></li>
                <li><p>Some phone calls</p></li>
                <li><p>Some reports</p></li>
            </ul>
        </div>

        <div class="col-6">
            <h4>Quadrant 4</h4>
            <ul>
                <li><p>Busy work</p></li>
                <li><p>Some phone calls</p></li>
                <li><p>time wasters</p></li>
            </ul>
        </div>

    </div>
</div>