@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TaskItem

<h1>My Tasks</h1>

<div>
    <form asp-controller="Home" asp-action="TaskAddEdit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input asp-for="TaskId" hidden/>
        </div>

        <div class="form-group">
            <label asp-for="TaskDescription" class="control-label">Description</label>
            <input asp-for="TaskDescription" class="form-control" />
            <span asp-validation-for="TaskDescription" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DueDate" class="control-label">Due Date</label>
            <input asp-for="DueDate" class="form-control" placeholder="Jan 1, 2024" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quadrant" class="control-label">Quadrant</label>
            <input asp-for="Quadrant" class="form-control" type="number" placeholder="(1 - 4)"/>
            <span asp-validation-for="Quadrant" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <input asp-for="CategoryId" class="form-control" type="number" placeholder="(1 - 4)"/>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Completed" class="control-label">Completed</label>
            <input asp-for="Completed" class="form-control" placeholder="True / False" />
            <span asp-validation-for="Completed" class="text-danger"></span>
        </div>

        <div class="form-group" style="margin-top: 15px;">
            <input type="submit"class="btn btn-primary" />
        </div>
    </form>
</div>